export GOOGLE_CLIENT_ID="$(cat ~/.secrets/GOOGLE_CLIENT_ID)"
export GOOGLE_CLIENT_SECRET="$(cat ~/.secrets/GOOGLE_CLIENT_SECRET)"
export GOOGLE_WORKSPACE_DOMAIN="$(cat ~/.secrets/GOOGLE_WORKSPACE_DOMAIN)"
export HAL_RESOURCE_IDENTIFIER=http://localhost:3000/mcp
